[submodule "GanSoft-Pro-Help"]
	path = SoftSupply-Help/Areas/GanSoftPro
	url = https://github.com/SoftSupply/GanSoft-Pro-Help.git
[submodule "GanSoft-App-Help"]
	path = SoftSupply-Help/Areas/GanSoftApp
	url = https://github.com/SoftSupply/GanSoft-App-Help.git
[submodule "GanSoft-Web-Help"]
	path = SoftSupply-Help/Areas/GanSoftWeb
	url = https://github.com/SoftSupply/GanSoft-Web-Help.git
[submodule "Reseller-Help"]
	path = SoftSupply-Help/Areas/Reseller
	url = https://github.com/SoftSupply/SoftSupply-Reseller-Help.git