@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = ViewContext.RouteData.Values["controller"];
    ViewBag.SubTitle = ViewContext.RouteData.Values["action"];
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

@Html.Partial("_Title")
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vestibulum eu ante at efficitur. 
    Maecenas convallis ornare gravida. Morbi scelerisque magna at felis venenatis pulvinar. 
    Cras egestas tortor nisi, eu blandit leo posuere vel. Ut congue nisl at lacus malesuada, nec volutpat leo tempor.
    Vestibulum turpis nibh, vestibulum a nisi nec, maximus tristique purus. Donec interdum tempus vulputate. 
    Phasellus et tellus viverra, tincidunt tellus nec, imperdiet massa. 
    Donec blandit, enim semper iaculis ornare, arcu diam ultrices lacus, at placerat purus dui sed risus. 
    Phasellus aliquet justo vitae sem lacinia ornare.
</p>
