@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = ViewContext.RouteData.Values["controller"];
    ViewBag.SubTitle = ViewContext.RouteData.Values["action"];
    ViewBag.MainTitle = $"Ayuda de {ViewBag.Manifest.Title}";
}

@Html.Partial("_Title")
<p>
    Alguna pagina
</p>
