<div class="page-header">
    <h1>
        @ViewBag.Title
        @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
            {
            <br /><small>@ViewBag.SubTitle</small>
        }
    </h1>
</div>